:root {
    --sidebar-width: 857px;
    --primary-color: #202a71;
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #dddddd;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    width: 77px;
    position: fixed;
    top: 40px;
    left: 10px;
}



/* Выпадающий контейнер */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Кнопка выпадающего списка */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Важно для вертикального выравнивания на мобильных телефонах */
    margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */
}

/* Добавить красный цвет фона для ссылок на навигационную панель при наведении курсора */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #88d314;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--primary-color);
}

h3 {
    color: var(--primary-color);
}

img {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
}

.box {
    width: 1100px;
    min-height: 100%;
    max-width: 1100px;
    background: white;
    margin: 40px auto 40px auto;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 5px;
    overflow: hidden;
}

.sidebar {
    width: var(--sidebar-width);
    height: inherit;
    background: #88d314;
    /*background: var(--primary-color);*/
    display: flex;
    flex-direction: column;
    border-right: solid 3px #88d314;
}

.photo {
    width: 100%;
    background: cadetblue;
    flex-basis: auto;
}

.photo > img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.my-info {
    width: 100%;
    flex: 1;
    /*background: greenyellow;*/
}

.content {
    padding: 50px 50px;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 26px;
}

.name {
    font-size: 40px;
}

.heading {
    margin-top: 50px;
}

.container {
    border: none 0;
    width: 100%;
    height: auto;
    display: flex;
}

.small-box {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.big-box {
    display: inline-block;
    /*text-align: justify;*/
    flex: 1;
}

.list-1 {
    /*text-align: justify;*/
}

.list-2 {
    padding-top: 50px;
}

.list-2 > li {
    margin-bottom: 5px;
}
.list-2 > li:last-child {
    margin-bottom: 0;
}


.experience {
    padding-left: 40px;
}